.container-project {
    margin-top: 3rem;
    font-family: 'Unbounded', cursive;
}

.text-project {
    height: 50px;
    padding: 0 1rem;
}

.text-project button {
    border: 2px solid;
    border-radius: 50px;
    border-width: .2rem;
    animation: rainbow 4s linear infinite;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    align-items: center;
    pointer-events: none;
    outline: none;
    background: rgba(0,0,0,0.1);
    color: white;
    font-weight: bold;
}

@keyframes rainbow {
    100% {
      border-color: #FF0000;
    }
    83.33% {
      border-color: #FF7F00;
    }
    66.67% {
      border-color: #FFFF00;
    }
    50% {
      border-color: #00FF00;
    }
    33.33% {
      border-color: #0000FF;
    }
    16.67% {
      border-color: #4B0082;
    }
    0% {
      border-color: #9400D3;
    }
  }

.con-card-pro {
    margin-top: 4rem;
    height: auto;
    display: grid;
    place-items: center;
}

.card-pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.con-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 250px;
    margin: 2rem;
    /* background: rgba(255, 255, 255, 0.1); */
    border-radius: 15px;
    transition: .5s ease;
}

.project {
    width: 100%;
    position: relative;
}

.con-img {
    width: 430px;
    height:200px;
    position: absolute;
    left: 0.5rem;
    top: -1rem;
}

.con-img img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.con-title {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 250px;
    position: relative;
    color: #fff;
    border-radius: 15px;
    opacity: 0;
    transition: .5s ease;
    top: -2.5rem;
}

.con-project:hover{
    transform: scale(1.1);
}


.con-project:hover .con-title {
    opacity: 1;
}


.tile {
    position: absolute;
    top: 0;
    left: 4.5rem;
    font-size: 1.5rem;
}

.tile1 {
    position: absolute;
    top: 0;
    left: 8.8rem;
    font-size: 1.5rem;
} 

.info {
    position: absolute;
    top: 4.5rem;
    left: 8rem;
}

.info1 {
    position: absolute;
    top: 4.5rem;
    left: 9.5rem;
}

.info1 .fa-react, .info1 .fa-css3-alt, .info .fa-js, .info .fa-html5, .info .fa-css3-alt{
    font-size: 3.5rem;
    padding: 0 0.5rem;
}

.btn-title {
    position: absolute;
    bottom: 2.5rem;
    left: 9rem;
}

.btn-title button {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Unbounded', cursive;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(135deg,#c0392b,#8e44ad);
    animation: bow 3s ease-in-out infinite;
    background-size: 400% 400%;
    color: #fff;
}

@keyframes bow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn-title button:hover {
    box-shadow: 0 0 10px #c0392b,
    0 0 20px #8e44ad,
    0 0 40px #c0392b
   ;
   transform: scale(1.1);
}

.text-figma {
    position: absolute;
    top:7.2rem;
    left: 8.8rem;
    font-size: 1.1rem;
}

.text-frofile {
    position: absolute;
    top:7.2rem;
    left: 7rem;
    font-size: 1.1rem;
}

.con-project .project::before {
    content: '';
    position: absolute;
    top: -2.5rem;
    border-radius: 15px;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(45deg, #ff0058,#ffbc00);
    z-index: -1;
}

.con-project .project::after {
    content: '';
    position: absolute;
    top: -2.5rem;
    border-radius: 15px;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(45deg, #ff0058,#ffbc00);
    filter: blur(30px);
    z-index: -1;
}

@media screen and (max-width: 481px) {
    .con-project:hover{
        transform: scale(1);
    }
    
    .con-title {
        pointer-events: none;
    }

    .con-project {
        width: 390px;
    }
    
    .con-img {
        top: 0;
        width: 200px;
        position: absolute;
        left: 0.5rem;
    }
    
    .con-img img {
        width: 100%;
        border-radius: 20px;
        height: 150px;
    }
    
    .con-title {
        background-color: rgba(0, 0, 0, 0.5);
        margin-left: 13.8rem;
        width: 160px;
        opacity: 1;
        height:150px;
        top: 0;
    }

    .tile h3{
        font-size: .7rem;
    }

    .info1 .fa-react, .info1 .fa-css3-alt, .info .fa-js, .info .fa-html5, .info .fa-css3-alt{
        font-size: 2rem;
        padding: 0 0.3rem;
    }

    .info {
        top: 2.4rem;
        left: 1.6rem;
    }

    .text-figma {
        top: 4.2rem;
        font-size: .7rem;
        left: 1.9rem;
        
    }

    .btn-title {
        left: 2.5rem;
        bottom: .8rem;
    }

    .btn-title button{
        width: 80px;
        height: 30px;
    }

    .tile1 h3{
        font-size: .8rem;
    }
    
    .tile1 {
        left: 2.8rem;
    }

    .info1 {
        top: 2.5rem;
        left: 2.7rem;
    }

    .tile {
        top: 0rem;
        left: 1.5rem;
    }

    .text-frofile {
        top: 4.5rem;
        font-size: .6rem;
        left: 1.2rem;
    }

}

@media screen and (max-width: 421px) {
    .con-project {
        width: 350px;
    }

    .con-title {
        width: 160px;
        margin-left: 11.2rem;
    }

    .tile h3{
        font-size: .7rem;
    }

    .info1 .fa-react, .info1 .fa-css3-alt, .info .fa-js, .info .fa-html5, .info .fa-css3-alt{
        font-size: 2rem;
        padding: 0 0.3rem;
    }

    .info {
        top: 2.6rem;
        left: 1.6rem;
    }

    .text-figma {
        font-size: .7rem;
        left: 1.8rem;
    }

    .btn-title {
        left: 2.5rem;
    }

    .tile1 h3{
        font-size: .8rem;
    }
    
    .tile1 {
        left: 2.5rem;
    }

    .info1 {
        top: 2.5rem;
        left: 2.4rem;
    }

    .tile {
        top: .4rem;
    }

    .text-frofile {
        font-size: .6rem;
        left: 1.3rem;
    }

    .con-img {
        width: 160px;
    }

}

@media screen and (max-width: 391px) {
    .con-project {
        width: 320px;
    }

    .con-title {
        width: 150px;
        margin-left: 10rem;
    }

    .tile h3{
        font-size: .7rem;
    }

    .info1 .fa-react, .info1 .fa-css3-alt, .info .fa-js, .info .fa-html5, .info .fa-css3-alt{
        font-size: 2rem;
        padding: 0 0.3rem;
    }

    .info {
        top: 2.7rem;
        left: 1.4rem;
    }

    .text-figma {
        font-size: .7rem;
        left: 1.7rem;
    }

    .btn-title {
        left: 1.9rem;
    }

    .tile1 h3{
        font-size: .8rem;
    }
    
    .tile1 {
        left: 2.2rem;
    }

    .info1 {
        top: 2.5rem;
        left: 2.2rem;
    }

    .tile {
        top: .4rem;
        left: 1rem;
    }

    .text-frofile {
        font-size: .6rem;
        left: 1rem;
    }

    .con-img {
        width: 140px;
    }
}

@media screen and (max-width: 361px) {
    .con-project {
        width: 280px;
    }

    .con-title {
        width: 110px;
        margin-left: 10rem;
    }

    .tile h3{
        font-size: .7rem;
    }

    .info1 .fa-react, .info1 .fa-css3-alt, .info .fa-js, .info .fa-html5, .info .fa-css3-alt{
        font-size: 1.5rem;
        padding: 0 0.2rem;
    }

    .info {
        top: 3.5rem;
        left: 1.2rem;
    }

    .text-figma {
        font-size: .6rem;
        left: 1rem;
        top: 4.6rem;
    }

    .btn-title {
        left: 1rem;
    }

    .tile1 h3{
        font-size: .8rem;
    }
    
    .tile1 {
        left: 1rem;
    }

    .info1 {
        top: 2.5rem;
        left: 1.7rem;
    }

    .tile {
        left: .2rem;
        text-align: center;
    }

    .text-frofile {
        font-size: .6rem;
        top: 3.7rem;
        left: .8rem;
    }

    .con-img {
        width: 140px;
    }
}



